<%- include('template/header'); -%>

<script src="<%= url %>js/lib/socket.io.js" charset="utf-8"></script>
<script src="<%= url %>js/lib/p5.min.js" charset="utf-8"></script>
<script>
    $('body').addClass('fixed-width');
</script>
<script>
    const socket = io();
    const canDraw = false;

    let filledTiles = [];
    let filledTilesTmp = [];

    const filledTilesByPage = {};
    let pausedBySliderUse = false;

    /**
     * Server status timer - to check if connection is still up
     */
    const connectionIval = setInterval(() => {
        if (!socket.connected) {
            disallowAccess('Connection lost.'); // This clears this interval
            alert('Lost connection to the server!');
        }
    }, 4000);

    /**
     * Disallow access handling
     */
    const disallowAccess = (reason = '') => {
        clearInterval(connectionIval);

        if (reason.length) {
            console.error('Access not allowed:', reason);
        }

        setInterval(() => {
            $('body').html('<img src="https://i.imgur.com/lSRPkVp.png" alt=":(">');
        }, 100);
    };

    socket.on('disallow', disallowAccess);

    /**
     * Get filled tiles from the socket
     */
    canvasQueue.add(() => {
        $('#after-canvas').append(`
            <div id="history-meta">
                <input id="history-slider" type="range" min="1">
                <div id="history-progress"></div>
            </div>
        `);

        filledTiles = [];
        socket.emit('history data');
    });

    socket.on('history data', (renderTiles, data) => {
        const percent = Math.ceil(data.page * 100 / data.totalPages);

        // Update current progress
        // Use a separate tmp array to not mess with the history
        filledTilesTmp = [...filledTilesTmp, ...renderTiles];
        filledTiles = filledTilesTmp;

        // Store the current page data
        filledTilesByPage[data.page] = filledTiles;

        $('#history-slider').attr('max', data.totalPages);

        if (pausedBySliderUse) {
            return;
        }

        $('#history-slider').val(data.page);
        $('#history-progress').text(`${percent}%`);

        draw();
    });

    $(document).on('input', '#history-slider', () => {
        const page = parseInt($('#history-slider').val());
        const totalPages = parseInt($('#history-slider').attr('max'));
        const percent = Math.ceil(page * 100 / totalPages);
        const pageFilledTiles = filledTilesByPage[page];

        // if (typeof pageFilledTiles === 'undefined') {
        if (typeof pageFilledTiles === 'undefined') {
            pausedBySliderUse = false;
            return;
        } else {
            pausedBySliderUse = true;
        }

        $('#history-progress').text(`${percent}%`);

        // Draw the tiles based on the selected page
        filledTiles = pageFilledTiles;

        draw({ clearTileMap: true });
    });

    /**
     * Not in the Discord server
     */
    socket.on('not guild member', (guild) => {
        disallowAccess('Not a member of the specified guild.');
        alert(`You must be a member of ${guild.name}'s Discord server.`);
    });
</script>
<script src="<%= url %>js/sketch.js" charset="utf-8"></script>

<%- include('template/footer'); -%>
