<%- include('template/header'); -%>

<div id="tile-info"></div>

<div id="mobile-tile-confirm" class="mobile-only">Confirm</div>

<div id="colors">
    <script charset="utf-8">
        const colors = [
            ['#000', 'Black', ''],
            ['#666', 'Dark Grey', ''],
            ['#ddd', 'Light Grey', 'light'],
            ['#fff', 'White', 'light'],
            ['#ffd1dc', 'Pink', 'light'],
            ['#ff69b4', 'Hot Pink', ''],
            ['#e97272', 'Crimson', ''],
            ['#cd0000', 'Red', ''],
            ['#b272e9', 'Lavender', ''],
            ['#7d72e9', 'Indigo', ''],
            ['#72a5e9', 'Cornflower', ''],
            ['#3a5f87', 'Midnight', ''],
            ['#72e9d7', 'Cyan', 'light'],
            ['#a7ed8e', 'Avocado', 'light'],
            ['#03c03c', 'Grass', ''],
            ['#006700', 'Algae', ''],
            ['#e9e572', 'Sunflower', 'light'],
            ['#ffb347', 'Orange', ''],
            ['#ffa07a', 'Salmon', ''],
            ['#e99f72', 'Apricot', ''],
            ['#c19a6b', 'Brown', ''],
            ['#8b5a2b', 'Wood', ''],
        ];

        for (const color of colors) {
            $('#colors').append(`<a href="javascript:void(0)" style="background-color: ${color[0]};" class="${color[2]}">${color[1]}</a>`);
        }
    </script>
</div>

<script src="<%= url %>js/lib/socket.io.js" charset="utf-8"></script>
<script src="<%= url %>js/lib/p5.min.js" charset="utf-8"></script>
<script>
    $('body').addClass('fixed-width');
</script>
<script>
    const socket = io();
    const canDraw = true;

    let filledTiles = [];
    let userList = {};

    /**
     * Server status timer - to check if connection is still up
     */
    const connectionIval = setInterval(() => {
        if (!socket.connected) {
            disallowAccess('Connection lost.'); // This clears this interval
            alert('Lost connection to the server!');
        }
    }, 4000);

    /**
     * Disallow access handling
     */
    const disallowAccess = (reason = '') => {
        clearInterval(connectionIval);

        if (reason.length) {
            console.error('Access not allowed:', reason);
        }

        setInterval(() => {
            $('body').html('<img src="https://i.imgur.com/lSRPkVp.png" alt=":(">');
        }, 100);
    };

    socket.on('disallow', disallowAccess);

    /**
     * Get filled tiles from the socket on a successful connection or tile update
     */
    socket.on('filled tiles', (guildId, newFilledTiles) => {
        if (guildId !== GUILD.id) {
            return;
        }

        filledTiles = newFilledTiles;

        draw();
    });

    socket.on('fill tile', (guildId, filledTile) => {
        if (guildId !== GUILD.id) {
            return;
        }

        filledTiles.push(filledTile);

        draw();
    });

    /**
     * On users update
     */
    const updateUserList = (guildId = null, users = null) => {
        guildId = guildId || GUILD.id;

        if (guildId !== GUILD.id) {
            return;
        }

        if (users !== null) {
            userList = users;
        }

        $('#user-list').html('');

        for (const user of Object.values(userList)) {
            let avatarUrl = 'https://i.imgur.com/lSRPkVp.png';

            if (user.avatar) {
                avatarUrl = `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png?size=32`;
            }

            $('#user-list').append(`
                <div class="user">
                    <img src="${avatarUrl}">
                    <span>${user.name}</span>
                </div>
            `);
        }

        // Title count
        $('title').text(`${originalTitle} (${Object.values(userList).length})`);
    };

    socket.on('user connect', updateUserList);
    socket.on('user disconnect', updateUserList);

    /**
     * Not in the Discord server
     */
    socket.on('not guild member', (guild) => {
        disallowAccess('Not a member of the specified guild.');
        alert(`You must be a member of ${guild.name}'s Discord server.`);
    });

    /**
     * When canvas is ready
     */
    canvasQueue.add(() => {
        $('#after-canvas').append(`
            <div id="user-list"></div>
            <a id="history-link" href="<%= route %>/history" target="_blank">Check out the history!</a>
        `).css('display', 'flex');

        updateUserList();
    });
</script>
<script src="<%= url %>js/sketch.js" charset="utf-8"></script>

<%- include('template/footer'); -%>
