@media only screen and (max-width: 600px) {
    body {
        margin: 0 auto;
        padding: 20px 0;
        width: auto;
    }

    body.fixed-width {
        width: 1200px;
    }

    #mobile-tile-confirm {
        position: fixed;
        z-index: 10;
        display: none;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: #03c03c;
        color: #fff;
        font-size: 24px;
        padding: 5px 20px;
        border-radius: 5px;
        border: 3px solid #fff;
    }
}
