@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

@media only screen and (min-width: 600px) {
    .mobile-only {
        display: none !important;
    }
}

* {
   box-sizing: border-box;
}

body {
    background: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

p {
    margin-top: 0;
}

#login-button {
    background: #7289da;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    display: block;
    padding: 10px 30px;
    border-radius: 5px;
}

#tile-info {
    display: none;
    position: absolute;
    background: #333;
    font-size: 10px;
    padding: 5px;
    color: #fff;
    pointer-events: none;
    transform: translateX(-50%) translateY(15px);
    opacity: 0.7;
    white-space: nowrap;
}

#tile-info::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-bottom: 10px solid #333;
    border-top: none;
}

#colors {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#colors a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 3px 5px 0;
    box-shadow: 0 2px 3px -2px #aaa;
}

#colors a.light {
    color: #000;
}

#colors a.active {
    box-shadow: 0 0 0 1px #fff,
        0 0 0 2px #000;
}

#after-canvas {
    width: 100%;
    margin-top: 10px;
    display: inline-flex;
    justify-content: space-between;
}

#user-list,
#user-list .user {
    display: flex;
    flex-wrap: wrap;
}

#user-list {
    padding-left: 15px;
    width: 85%;
}

#user-list .user {
    margin: 0 20px 5px 0;
    position: relative;
}

#user-list .user img {
    position: absolute;
    right: 100%;
    transform: translateX(33%);
    z-index: 1;
    display: block;
    width: 24px;
    height: 24px;
    pointer-events: none;
    border-radius: 50%;
}

#user-list .user span {
    background: #ddd;
    color: #333;
    border-radius: 3px;
    padding: 3px 12px;
}

#history-link {
    display: block;
    text-decoration: none;
    color: #aaa;
}

#history-meta {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#history-slider {
    width: 20%;
}

#history-progress {
    margin-left: 10px;
}
