<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= guild ? `${guild.name} ` : '' %>Place</title>
    <link rel="stylesheet" type="text/css" href="<%= url %>css/style.css">
    <link rel="stylesheet" type="text/css" href="<%= url %>css/mobile.css">
    <script src="<%= url %>js/lib/jquery.min.js" charset="utf-8"></script>
    <script>
        const GUILD = <%- guild ? JSON.stringify(guild) : '{}' %>;
        const USER = <%- user ? JSON.stringify(user) : '{}' %>;

        const originalTitle = $('title').text();
        const isMobile = () => /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

        const canvasQueue = {
            queue: [],

            add: (callback) => {
                canvasQueue.queue.push(callback);
            },

            ready: (...args) => {
                $('canvas').after('<div id="after-canvas"></div>');

                for (const callback of canvasQueue.queue) {
                    callback(...args);
                }
            },
        };
    </script>
</head>
<body>
